#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  .container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.photographer-profile {
  > * {
    margin: 20px;
  }
  *:nth-child(1) {
    font-size: 64px;
    color: #d3573c;
  }
  *:nth-child(2) {
    font-size: 24px;
    color: #901c1c;
  }
  *:nth-child(3) {
    font-size: 18px;
    color: #525252;
  }
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photograph-header img {
  height: 200px;
  width: 200px;
}

.photograph-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 50px 100px;

  article {
    justify-self: center;
    width: 100%;

    .container {
      position: relative;
      padding-top: 90%;
      width: 100%;

      overflow: hidden;
      border-radius: 5px;

      &.video-container::after {
        content: url(../../assets/icons/play-solid.svg);
        position: absolute;
        width: 30%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 80%;
      }

      img,
      video {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        object-fit: cover;
      }
    }

    .description {
      display: flex;
      color: #901c1c;
      align-items: center;
      font-size: 24px;
      overflow: hidden;

      h2 {
        width: auto;
        margin-right: auto;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
        filter: invert(17%) sepia(97%) saturate(1876%) hue-rotate(351deg)
          brightness(87%) contrast(87%);
      }
    }
  }
}

.logo::after {
  content: "azeazeaze";
  position: absolute;
  display: block;
  width: fit-content;
  top: 12px;
  left: 12px;
  background-color: red;
  color: #008766;
  border-radius: 3px;
}

.photograph-sort-media {
  margin: 0 100px;
  display: flex;
  font-size: 18px;
  .dropdown-title {
    font-weight: bold;
    margin-right: 30px;
  }
  .dropdown {
    list-style: none;
  }
}

@media (max-width: 1440px) {
  .photograph-media {
    grid-template-columns: 1fr 1fr;
  }
}
