@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Roboto&family=Shrikhand&display=swap");
#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photograph-header .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photographer-profile > * {
  margin: 20px;
}

.photographer-profile *:nth-child(1) {
  font-size: 64px;
  color: #d3573c;
}

.photographer-profile *:nth-child(2) {
  font-size: 24px;
  color: #901c1c;
}

.photographer-profile *:nth-child(3) {
  font-size: 18px;
  color: #525252;
}

.contact-button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photograph-header img {
  height: 200px;
  width: 200px;
}

.photograph-media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin: 50px 100px;
}

.photograph-media article {
  -ms-grid-column-align: center;
      justify-self: center;
  width: 100%;
}

.photograph-media article .container {
  position: relative;
  padding-top: 90%;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.photograph-media article .container.video-container::after {
  content: url(../../assets/icons/play-solid.svg);
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 80%;
}

.photograph-media article .container img,
.photograph-media article .container video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.photograph-media article .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #901c1c;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  overflow: hidden;
}

.photograph-media article .description h2 {
  width: auto;
  margin-right: auto;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.photograph-media article .description img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  -webkit-filter: invert(17%) sepia(97%) saturate(1876%) hue-rotate(351deg) brightness(87%) contrast(87%);
          filter: invert(17%) sepia(97%) saturate(1876%) hue-rotate(351deg) brightness(87%) contrast(87%);
}

.logo::after {
  content: "azeazeaze";
  position: absolute;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 12px;
  left: 12px;
  background-color: red;
  color: #008766;
  border-radius: 3px;
}

.photograph-sort-media {
  margin: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
}

.photograph-sort-media .dropdown-title {
  font-weight: bold;
  margin-right: 30px;
}

.photograph-sort-media .dropdown {
  list-style: none;
}

@media (max-width: 1440px) {
  .photograph-media {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

#contact-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(196, 196, 196, 0.4);
}

#contact-modal .modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 670px;
  padding: 25px 35px;
  margin: calc((100vh - 900px) / 2) auto auto auto;
}

#contact-modal .modal header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin-bottom: 20px;
}

#contact-modal .modal header img {
  cursor: pointer;
}

#contact-modal .modal header h2 {
  font-size: 64px;
  font-weight: normal;
  margin-bottom: 5px;
}

#contact-modal .modal header .contact-name {
  font-size: 64px;
  font-weight: normal;
  overflow: hidden;
}

#contact-modal form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#contact-modal form label {
  color: #312e2e;
  font-size: 36px;
  font-weight: normal;
  display: inline-block;
  margin: 10px 0;
}

#contact-modal form div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: self-start;
      -ms-flex-align: self-start;
          align-items: self-start;
}

#contact-modal form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

#contact-modal form textarea {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 5px;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.close.contact-close {
  position: absolute;
  top: 0;
  right: 0;
}

.btn-submit {
  font-size: 18px;
  color: white;
  width: auto;
  height: auto;
  padding: 23px 50px;
  margin-top: 25px;
  background: #911c1c;
  border-radius: 5px;
}

#lightbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: white;
}

#lightbox .lightbox-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#lightbox .lightbox-modal .close-lightbox {
  position: absolute;
  top: 5vh;
  right: 5vw;
}

#lightbox .lightbox-modal .right-arrow {
  position: absolute;
  top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5vw;
}

#lightbox .lightbox-modal .left-arrow {
  position: absolute;
  top: 50vh;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5vw;
}

#lightbox .lightbox-modal .media-container .content img,
#lightbox .lightbox-modal .media-container .content video {
  width: 100%;
  height: 100%;
  max-width: 70vw;
  max-height: 80vh;
  -o-object-fit: contain;
     object-fit: contain;
}

#lightbox .lightbox-modal .media-container .content .lightbox-name {
  height: 0;
  font-size: 24px;
  color: #911c1c;
  line-height: 31px;
}

.quantities {
  position: fixed;
  bottom: 0;
  right: 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: bold;
  background-color: #db8876;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.quantities > * {
  padding: 20px 30px;
}

.quantities .likes-total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quantities .likes-total img {
  width: 17.5px;
  height: 18.35px;
  margin-left: 10px;
}

.close {
  position: relative;
  width: 42px;
  height: 42px;
  cursor: pointer;
}

.close:before, .close:after {
  position: absolute;
  top: -4px;
  left: 18px;
  content: "";
  height: 50px;
  width: 6px;
  background-color: black;
}

.close:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.close:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.close.red:before, .close.red:after {
  background-color: #911c1c;
}

.close.white:before, .close.white:after {
  background-color: white;
}

.left-arrow,
.right-arrow {
  position: relative;
  width: 30px;
  height: 48px;
}

.left-arrow:before, .left-arrow:after,
.right-arrow:before,
.right-arrow:after {
  position: absolute;
  left: 12px;
  content: " ";
  height: 30px;
  width: 6px;
  background-color: #911c1c;
}

.left-arrow:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.left-arrow:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 0;
}

.right-arrow:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.right-arrow:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
}

.vertical-arrow {
  position: relative;
  width: 16px;
  height: 10px;
}

.vertical-arrow:before, .vertical-arrow:after {
  position: absolute;
  right: 4px;
  content: " ";
  height: 10px;
  width: 3px;
  background-color: #911c1c;
}

.vertical-arrow:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 4px;
}

.vertical-arrow:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  right: 4px;
}

.vertical-arrow.white:before, .vertical-arrow.white:after {
  background-color: white;
}

.photograph-sort-media {
  position: relative;
  padding: 30px 0;
}

.dropdown-title {
  margin-top: 15px;
}

.dropdown {
  background: #911c1c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  width: 170px;
  position: absolute;
  left: 100px;
  z-index: 1;
}

.dropdown li {
  position: relative;
  padding: 20px 10px;
  margin: 0 10px;
  font-weight: bold;
}

.dropdown li .vertical-arrow {
  position: absolute;
  top: 25px;
  right: 15px;
}

.dropdown > * {
  display: none;
}

.dropdown > * .vertical-arrow {
  display: none;
}

.dropdown[data-decreasing="true"] .vertical-arrow:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 4px;
}

.dropdown[data-decreasing="true"] .vertical-arrow:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 4px;
}

.dropdown[data-selected="popularity"] #sort-popularity {
  display: block;
}

.dropdown[data-selected="popularity"] #sort-popularity .text {
  display: block;
}

.dropdown[data-selected="popularity"] #sort-popularity .vertical-arrow {
  display: block;
}

.dropdown[data-selected="date"] #sort-date {
  display: block;
}

.dropdown[data-selected="date"] #sort-date .text {
  display: block;
}

.dropdown[data-selected="date"] #sort-date .vertical-arrow {
  display: block;
}

.dropdown[data-selected="title"] #sort-title {
  display: block;
}

.dropdown[data-selected="title"] #sort-title .text {
  display: block;
}

.dropdown[data-selected="title"] #sort-title .vertical-arrow {
  display: block;
}

.dropdown:hover #sort-popularity,
.dropdown:hover #sort-date,
.dropdown:hover #sort-title {
  display: block;
}

.dropdown:hover li {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: white;
}

.dropdown:hover li:last-child {
  border-bottom-style: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
address {
  all: unset;
}

a {
  cursor: pointer;
}

.id-photo {
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
}

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
  max-width: 1700px;
  margin: auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
}

/* --------------------  */
/*# sourceMappingURL=main.css.map */